
.filmcard{
    margin-top: 10px;
    margin-left: 4%;
    margin-right: 4%;
    height: 70%;
}

.avatar{
    background-image: url("https://www.wallpaperup.com/uploads/wallpapers/2018/03/22/1234615/3d0e59d12222626b5f8c7de5c77c8549-1000.jpg");
    height: 40vh;
    width: 100%;
}

.avatarmini{
    /*height: 10vh;*/
    width: 100%;
    max-height: 25vh;
    object-fit: cover;
}

.filmcardmini{
    width: 35vw;
    height: 30vh;
    margin: 10px;
}
.filmnamemini{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 4px;
    padding-left: 5px;
    padding-right: 5px;
}